body {
    margin: 0;
}


.main-menu {
    background: #004C9F;
    min-height: 37px;
}
.main-menu::after {
    content: '';
    clear: both;
    display: block;
}
.main-menu ul {
    margin: 0;
    list-style: none;
    padding: 5px 0;
    padding-bottom: 5px;
}
.main-menu> ul> li {
    float: left;
    position: relative;
}
.main-menu> ul> li> a {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    padding: 0 10px 8px;
    display: block;
    border-style: none solid none none;
    border-color: white;
    border-width: 2px;
}
.main-menu> ul> li:hover {
    border-style: none none solid none;
    border-width: 3px;
    border-color: #F3B30B;

}
.main-menu> ul> li> a:hover {
    color: #F3B30B;
}


/**** sub menu ***/
.main-menu ul ul li a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    padding: 2px 10px;
    display: block;
}
.main-menu ul ul {
    padding-left: 0;
    position: absolute;
    top: 108%;
    left: 0;
    min-width: 225px;
    display: none;
    background: #004C9F;
}
.main-menu ul li:hover> ul{
    display: block;
}
.main-menu ul ul li:hover a {
    background: #F3B30B;
}